{% extends "_layouts/cp" %}

{% do view.registerCssFile('https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css') %}

{% block content %}

  {% if charge.outcome %}
    <div class="mb-4 border-grey-light border-solid border rounded overflow-hidden">
      <div class="bg-grey-lightest p-4 text-grey-dark text-base border-grey-light border-solid border-b">
        Outcome
      </div>

      {% for key, val in charge.outcome %}
        <div class="flex p-4 pb-2 {{ loop.last == false ? 'border-grey-light border-solid border-b' }}">
          <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
            {{ (key|replace({'_': ' '}))|title }}
          </div>
          <div class="mb-0">
            {{ ((val|replace({'_': ' '}))|title)|default('N/A') }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="mb-4 border-grey-light border-solid border rounded overflow-hidden">
    <div class="bg-grey-lightest p-4 text-grey-dark text-base border-grey-light border-solid border-b">
      Payment Details
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        ID
      </div>
      <div class="mb-0">
        {{ charge.stripeId|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Status
      </div>
      <div class="mb-0">
        {{ (charge.chargeStatus|title)|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Amount
      </div>
      <div class="mb-0">
        {{ charge.formattedAmount|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Email
      </div>
      <div class="mb-0">
        {{ charge.email|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Description
      </div>
      <div class="mb-0">
        {{ charge.description|default('N/A') }}
      </div>
    </div>
  </div>

  {% if charge.metadata %}
    <div class="mb-4 border-grey-light border-solid border rounded overflow-hidden">
      <div class="bg-grey-lightest p-4 text-grey-dark text-base border-grey-light border-solid border-b">
        Metadata
      </div>

      {% for key, val in charge.metadata %}
        <div class="flex p-4 pb-2 {{ loop.last == false ? 'border-grey-light border-solid border-b' }}">
          <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
            {{ (key|replace({'_': ' '}))|title }}
          </div>
          <div class="mb-0">
            {{ ((val|replace({'_': ' '}))|title)|default('N/A') }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if charge.source %}
    <div class="mb-4 border-grey-light border-solid border rounded overflow-hidden">
      <div class="bg-grey-lightest p-4 text-grey-dark text-base border-grey-light border-solid border-b">
        Card
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          ID
        </div>
        <div class="mb-0">
          {{ charge.source.id|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Name
        </div>
        <div class="mb-0">
          {{ charge.source.name|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Type
        </div>
        <div class="mb-0">
          {{ charge.source.brand|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Number
        </div>
        <div class="mb-0">
          •••• •••• •••• {{ charge.source.last4|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Expires
        </div>
        <div class="mb-0">
          {{ charge.source.exp_month|default('N/A') }}/{{ charge.source.exp_year|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          CVC Check
        </div>
        <div class="mb-0">
          {{ (charge.source.cvc_check|title)|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Address
        </div>
        <div class="mb-0">
          {{ charge.source.address_line1 ? (charge.source.address_line1 ~ '<br>')|raw }}
          {{ charge.source.address_line2 ? (charge.source.address_line2 ~ '<br>')|raw }}
          {{ charge.source.address_city ? (charge.source.address_city ~ '<br>')|raw }}
          {{ charge.source.address_zip ? (charge.source.address_zip ~ '<br>')|raw }}
          {{ charge.source.address_country ? charge.source.address_country }}
        </div>
      </div>

      <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Street Check
        </div>
        <div class="mb-0">
          {{ (charge.source.address_line1_check|title)|default('N/A') }}
        </div>
      </div>

      <div class="flex p-4 pb-2">
        <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
          Zip Check
        </div>
        <div class="mb-0">
          {{ (charge.source.address_zip_check|title)|default('N/A') }}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
