{#
/**
 * Stripe Checkout plugin for Craft CMS 3.x
 *
 * Stripe Checkout charge.twig
 *
 * @author    Luke Youell
 * @copyright Copyright (c) 2017 Luke Youell
 * @link      https://github.com/lukeyouell
 * @package   StripeCheckout
 * @since     1.0.0
 */
#}

{% requireAdmin %}

{% extends '_layouts/cp' %}

{% do view.registerAssetBundle("lukeyouell\\stripecheckout\\assetbundles\\stripecheckout\\StripeCheckoutAsset") %}

{% set charge = craft.stripeCheckout.getCharge(id) %}

{% if charge %}

  {% set outcome = craft.stripeCheckout.decode(charge.outcome) %}
  {% set metadata = craft.stripeCheckout.decode(charge.metadata) %}
  {% set source = craft.stripeCheckout.decode(charge.source) %}
  {% set refunds = craft.stripeCheckout.decode(charge.refunds) %}
  {% set shipping = craft.stripeCheckout.decode(charge.shipping) %}

  {% set crumbs = {
    0: { label: 'Stripe Payments'|t, url: url('stripe') }
  } %}

  {% set title = (charge.amount / 100)|number_format(2, '.', ',') ~ ' ' ~ charge.currency|upper %}

  {% block actionButton %}

      <span class="btn" onClick="window.location.reload()">{{ 'Refresh'|t }}</span>

      {# <span class="btn submit refund-modal-trigger">{{ 'Refund'|t }}</span> #}

  {% endblock %}

  {% block content %}

    {% if outcome %}

      {% include 'stripe-checkout/_components/chargeOutcome' %}

    {% endif %}

    {% include 'stripe-checkout/_components/chargeDetails' %}

    {% if metadata %}

      {% include 'stripe-checkout/_components/chargeMetadata' %}

    {% endif %}

    {% if source %}

      {% include 'stripe-checkout/_components/chargeSource' %}

    {% endif %}

    {% if shipping %}

      {% include 'stripe-checkout/_components/chargeShipping' %}

    {% endif %}

    {% if refunds %}

      {% include 'stripe-checkout/_components/chargeRefunds' %}

    {% endif %}

    {# {% include 'stripe-checkout/_modals/refund' %} #}

  {% endblock %}

  {% block details %}

    <div class="meta read-only">

      <div class="data">
        <h5 class="heading">{{ 'Created at'|t }}</h5>
        <div class="value">{{ charge.dateCreated|date('Y/m/d H:i') }}</div>
      </div>

      <div class="data">
        <h5 class="heading">{{ 'Updated at'|t }}</h5>
        <div class="value">{{ charge.dateUpdated|date('Y/m/d H:i') }}</div>
      </div>

    </div>

    <hr>

  {% endblock %}

{% endif %}
