{% extends "stripe-checkout/_layouts/settings" %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "stripe-checkout/_macros/settings" as macros %}

{% block content %}

  {{ forms.hidden({
        name: 'action',
        value: 'plugins/save-plugin-settings'
    })}}

    {{ forms.hidden({
        name: 'pluginHandle',
        value: plugin.handle
    })}}

  <h2 class="first">Credentials</h2>

  {{ forms.selectField({
      first:    true,
      label:    'Account Mode',
      id:       'accountMode',
      name:     'settings[accountMode]',
      options:  accountModeOptions,
      value:    settings.accountMode,
      disabled: 'accountMode' in overrides,
      warning:  'accountMode' in overrides ? macros.configWarning('accountMode'),
  })}}

  <h2>Test Credentials</h3>

  {{ forms.textField({
      first:       true,
      label:       'Publishable Key',
      id:          'testPublishableKey',
      name:        'settings[testPublishableKey]',
      placeholder: 'pk_test_Hoz3tEXcZaO50jahb9xzhn7b',
      value:       settings.testPublishableKey,
      disabled:    'testPublishableKey' in overrides,
      warning:     'testPublishableKey' in overrides ? macros.configWarning('testPublishableKey'),
  })}}

  {{ forms.textField({
      label:       'Secret Key',
      id:          'testSecretKey',
      name:        'settings[testSecretKey]',
      placeholder: 'sk_test_Hoz3tEXcZaO50jahb9xzhn7b',
      value:       settings.testSecretKey,
      disabled:    'testSecretKey' in overrides,
      warning:     'testSecretKey' in overrides ? macros.configWarning('testSecretKey'),
  })}}

  <h2>Live Credentials</h3>

  {{ forms.textField({
      first:       true,
      label:       'Publishable Key',
      id:          'livePublishableKey',
      name:        'settings[livePublishableKey]',
      placeholder: 'pk_Hoz3tEXcZaO50jahb9xzhn7b',
      value:       settings.livePublishableKey,
      disabled:    'livePublishableKey' in overrides,
      warning:     'livePublishableKey' in overrides ? macros.configWarning('livePublishableKey'),
  })}}

  {{ forms.textField({
      label:       'Secret Key',
      id:          'liveSecretKey',
      name:        'settings[liveSecretKey]',
      placeholder: 'sk_Hoz3tEXcZaO50jahb9xzhn7b',
      value:       settings.livePublishableKey,
      disabled:    'liveSecretKey' in overrides,
      warning:     'liveSecretKey' in overrides ? macros.configWarning('liveSecretKey'),
  })}}

{% endblock %}
