{% set source = charge.data.source ?: null %}

{% if source %}

  <div class="mb-4 border-grey-light border-solid border rounded overflow-hidden">
    <div class="bg-grey-lightest p-4 text-grey-dark text-base border-grey-light border-solid border-b">
      Card
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        ID
      </div>
      <div class="mb-0">
        {{ source.id|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Name
      </div>
      <div class="mb-0">
        {{ source.name|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Type
      </div>
      <div class="mb-0">
        {{ source.brand|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Country
      </div>
      <div class="mb-0">
        {{ source.country|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Funding
      </div>
      <div class="mb-0">
        {{ (source.funding|title)|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Number
      </div>
      <div class="mb-0">
        •••• •••• •••• {{ source.last4|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Expires
      </div>
      <div class="mb-0">
        {{ source.exp_month|default('N/A') }}/{{ source.exp_year|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2
      {% if source.cvc_check == 'pass' %}bg-green-lightest
      {% elseif source.cvc_check == 'fail' %}bg-red-lightest
      {% else %}bg-orange-lightest
      {% endif %} border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        CVC Check
      </div>
      <div class="mb-0">
        {{ (source.cvc_check|title)|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2 border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Address
      </div>
      <div class="mb-0">
        {% if source.address_line1 %}
          {{ source.address_line1 ? (source.address_line1 ~ '<br>')|raw }}
          {{ source.address_line2 ? (source.address_line2 ~ '<br>')|raw }}
          {{ source.address_city ? (source.address_city ~ '<br>')|raw }}
          {{ source.address_zip ? (source.address_zip ~ '<br>')|raw }}
          {{ source.address_country ? source.address_country }}
        {% else %}
          N/A
        {% endif %}
      </div>
    </div>

    <div class="flex p-4 pb-2
      {% if source.address_line1_check == 'pass' %}bg-green-lightest
      {% elseif source.address_line1_check == 'fail' %}bg-red-lightest
      {% else %}bg-orange-lightest
      {% endif %} border-grey-light border-solid border-b">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Street Check
      </div>
      <div class="mb-0">
        {{ (source.address_line1_check|title)|default('N/A') }}
      </div>
    </div>

    <div class="flex p-4 pb-2
      {% if source.address_zip_check == 'pass' %}bg-green-lightest
      {% elseif source.address_zip_check == 'fail' %}bg-red-lightest
      {% else %}bg-orange-lightest
      {% endif %}">
      <div class="w-full sm:w-1/3 mb-0 text-grey-dark">
        Zip Check
      </div>
      <div class="mb-0">
        {{ (source.address_zip_check|title)|default('N/A') }}
      </div>
    </div>

  </div>
{% endif %}
