<h2 class="stripe-heading">{{ 'Card'|t }}</h2>

<div class="stripe-callout stripe-details">

  <div class="grid-x">

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'ID'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ source.id }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Name'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ source.name }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Number'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">•••• •••• •••• {{ source.last4 }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Expires'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ source.exp_month ~ '/' ~ source.exp_year }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Type'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ source.brand }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Address'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">
        {{ source.address_line1 ? (source.address_line1 ~ '<br>')|raw }}
        {{ source.address_line2 ? (source.address_line2 ~ '<br>')|raw }}
        {{ source.address_city ? (source.address_city ~ '<br>')|raw }}
        {{ source.address_zip ? (source.address_zip ~ '<br>')|raw }}
        {{ source.address_country ? source.address_country }}
      </div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Street check'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">
        <span class="stripe-label stripe-label-{{
          source.address_line1_check == 'pass' ? 'success' :
          source.address_line1_check == 'fail' ? 'alert' :
          'secondary'
        }}">
          {{ source.address_line1_check|capitalize }}
        </span>
      </div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Zip check'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">
        <span class="stripe-label stripe-label-{{
          source.address_line1_check == 'pass' ? 'success' :
          source.address_line1_check == 'fail' ? 'alert' :
          'secondary'
        }}">
          {{ source.address_zip_check|capitalize }}
        </span>
      </div>
    </div>

  </div>

</div>
