<h2 class="stripe-heading">{{ 'Outcome'|t }}</h2>

<div class="stripe-callout stripe-details">

  <div class="grid-x">

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Type'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ outcome.type|replace({'_': ' '})|capitalize }}</div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Risk level'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">
        <span class="stripe-label stripe-label-{{
          outcome.risk_level == 'normal' ? 'success' :
          outcome.risk_level == 'elevated' ? 'warning' :
          outcome.risk_level == 'highest' ? 'alert' :
          'secondary'
        }}">
          {{ outcome.risk_level|replace({'_': ' '})|capitalize }}
        </span>
      </div>
    </div>

    <div class="large-4 medium-6 cell">
      <div class="stripe-data">{{ 'Message'|t }}</div>
    </div>
    <div class="large-8 medium-6 cell">
      <div class="stripe-value">{{ outcome.seller_message }}</div>
    </div>

  </div>

</div>
